<div class="background">
    <app-navbar></app-navbar>
  
    <section class="container py-5">
        <!-- Première section -->
        <div class="row align-items-start flex-wrap mb-5">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <img src="assets/images/capture1.png" alt="Image descriptive" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-start">
                <h2 class="mb-3">Winéko</h2>
                <p>
                    Winéko est un site e-commerce proposant une large gamme de produits à prix réduit. Le site intègre diverses fonctionnalités essentielles telles qu'un panier d'achat, une base de données pour la gestion des produits et des utilisateurs, une plateforme de paiement sécurisée, ainsi qu'un tableau de bord pour l'administration.
                </p>
                <strong>Technologies utilisées :</strong> Spring Boot, Angular, MySQL
            </div>
        </div>
        
        <!-- Troisième section -->
        <div class="row align-items-start flex-wrap mb-5">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <img src="assets/images/capture1.png" alt="Image descriptive" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-start">
                <h2 class="mb-3">Winéko</h2>
                <p>
                    Winéko est un site e-commerce proposant une large gamme de produits à prix réduit. Le site intègre diverses fonctionnalités essentielles telles qu'un panier d'achat, une base de données pour la gestion des produits et des utilisateurs, une plateforme de paiement sécurisée, ainsi qu'un tableau de bord pour l'administration.
                </p>
                <strong>Technologies utilisées :</strong> Spring Boot, Angular, MySQL
            </div>
        </div>

        <div class="row align-items-start flex-wrap mb-5">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <img src="assets/images/capture1.png" alt="Image descriptive" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-start">
                <h2 class="mb-3">Clone de Netflix</h2>
                <p>
                    Winéko est un site e-commerce proposant une large gamme de produits à prix réduit. Le site intègre diverses fonctionnalités essentielles telles qu'un panier d'achat, une base de données pour la gestion des produits et des utilisateurs, une plateforme de paiement sécurisée, ainsi qu'un tableau de bord pour l'administration.
                </p>
                <strong>Technologies utilisées :</strong> Spring Boot, Angular, MySQL
            </div>
        </div>

        <div class="row align-items-start flex-wrap mb-5">
            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                <img src="assets/images/capture1.png" alt="Image descriptive" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-start">
                <h2 class="mb-3">Galerie Cybèle</h2>
                <p>
                    Winéko est un site e-commerce proposant une large gamme de produits à prix réduit. Le site intègre diverses fonctionnalités essentielles telles qu'un panier d'achat, une base de données pour la gestion des produits et des utilisateurs, une plateforme de paiement sécurisée, ainsi qu'un tableau de bord pour l'administration.
                </p>
                <strong>Technologies utilisées :</strong> Spring Boot, Angular, MySQL
            </div>
        </div>
        
    </section>
</div>
